
<div class="bg-img">
  <div class="intro-block">
    <div class="col-md-10 col-md-offset-1 names-header">
      <div class="names animated fadeinup delayed">Maya & Rob</div>
      <div class="date animated fadeinup delayed">09.19.2015</div>
    </div>
    
    <video autoplay loop poster="https://s3-us-west-1.amazonaws.com/andrews-wedding/vlcsnap-2015-02-23-21h37m58s244.jpg" id="bgvid">
    <source src="https://s3-us-west-1.amazonaws.com/andrews-wedding/italy-trento-vineyard_zk8zyvpeb__D.mp4" type="video/mp4">
    </video>
    <div id="vid-overlay"></div>

  </div>

  <div class="home-nav animated fadeinup delayed-more">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1 pointer-div">
        <div class="col-md-6 col-md-offset-3">
          <span class="home-link" id="location-link" data-name="location" href='#location'>LOCATION</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="travel" href='#'>TRAVEL</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="story" href='#'>OUR STORY</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="registry" href='#'>REGISTRY</span>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="book" href='#'>GUEST BOOK</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="location-panel" id="location">
  <div id="map-canvas"></div>
  <div class="location-text">
    <div class="ind-location" id="ceremony" data-name="ceremony">
      <div class="location-text-header" data-name="ceremony">
      Ceremony
      </div>
      <div class="location-text-name" data-name="ceremony">
        First Presbyterian Church of Santa Rosa
      </div>
      <div class="location-text-address" data-name="ceremony">
        <a data-name="ceremony" target="_blank" href="https://www.google.com/maps/place/First+Presbyterian+Church/@38.452427,-122.703247,15z/data=!4m2!3m1!1s0x0:0x695244ddd319db2b">1550 Pacific Avenue, Santa Rosa, CA</a>
      </div>  
    </div>

    <div class="ind-location" id="reception" data-name="reception">
      <div class="location-text-header" data-name="reception">
      Reception
      </div>
      <div class="location-text-name" data-name="reception">
        Running Rabit Ranch
      </div>
      <div data-name="reception" class="location-text-address" data-name="reception">
        <a data-name="reception" target="_blank" href="https://www.google.com/maps/place/Running+Rabbit+Ranch+and+Vineyard/@38.4585793,-122.6169651,15z/data=!4m2!3m1!1s0x0:0x44a5a595410a8e5f">281 Somerville Road, Santa Rosa, CA</a>
      </div>  
    </div>

  </div>
</div>

<div id="travel" class="travel-panel">
  <div class="travel-panel-overlay"></div>
  <div class="ind-travel">
    <div class="travel-header">
      Transportation
    </div>
    <div class="travel-body">
      <p>For guests arriving by air, the best options are San Francisco Airport (SFO) or Oakland Airport (OAK).  </p>
      <p>
        It is <strong>80 minutes</strong> in the car from <a class="white-hover" href="https://www.google.com/maps/dir/San+Francisco+Airport,+San+Francisco,+CA/First+Presbyterian+Church,+Pacific+Avenue,+Santa+Rosa,+CA/@38.0308348,-123.0990614,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808f778c55555555:0xa4f25c571acded3f!2m2!1d-122.378955!2d37.621313!1m5!1m1!1s0x808447ef6db9fe0d:0x695244ddd319db2b!2m2!1d-122.703247!2d38.452427">San Francisco Airport to Santa Rosa</a> or <strong>75 minutes</strong> from <a class="white-hover" href="https://www.google.com/maps/dir/Oakland+International+Airport,+Airport+Drive,+Oakland,+CA/First+Presbyterian+Church,+Pacific+Avenue,+Santa+Rosa,+CA/@38.0820413,-122.9786139,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808f845402c0a641:0xb0630c0f03017460!2m2!1d-122.219743!2d37.712569!1m5!1m1!1s0x808447ef6db9fe0d:0x695244ddd319db2b!2m2!1d-122.703247!2d38.452427">Oakland to Santa Rosa</a>.
      </p>
    </div>
  </div>

  <div class="ind-travel">
    <div class="travel-header">
      Lodging
    </div>
    <div class="travel-body">
      <p>We have reserved a blocks of rooms at the following hotels.  Please identify with the Andrews wedding during reservations.</p>
      <div class="row travel-hotels-row">
        <div class="travel-hotel col-md-4 col-md-offset-1">
          <div class="well">
            <p class="travel-hotel-title">Courtyard by Marriott</p>
            <p class="travel-hotel-title">Santa Rosa</p>
            <div class="travel-info-block">
              <p class="travel-hotel-info"><a href="https://www.google.com/maps/place/175+Railroad+St,+Santa+Rosa,+CA+95401/data=!4m2!3m1!1s0x808437ff9f34088b:0x43b0370560f03ce1?sa=X&ei=CjwfVabmNcWesAW0_ICYCw&ved=0CB0Q8gEwAA" target="_blank">175 Railroad St.</a></p>
              <p class="travel-hotel-info"><a href="tel:707-573-9000">(707) 573-9000</a></p>
               <p class="travel-hotel-info"><a href="http://www.marriott.com/hotels/travel/stscy-courtyard-santa-rosa" target="_blank">Room Reservations</a></p>
            </div>
          </div>
        </div>
        <div class="travel-hotel col-md-4 col-md-offset-1">
          <div class="well">
            <p class="travel-hotel-title">Hilton Garden Inn</p>
            <p class="travel-hotel-title">Santa Rosa</p>
            <div class="travel-info-block">
              <p class="travel-hotel-info"><a href="https://www.google.com/maps/place/417+Aviation+Blvd,+Santa+Rosa,+CA+95403/data=!4m2!3m1!1s0x80843eea461e4253:0x50eeea0915e6e808?sa=X&ei=cTsfVdXFG4mRsAXTmYGoCA&ved=0CB0Q8gEwAA" target="_blank">417 Aviation Blvd</a></p>
              <p class="travel-hotel-info"><a href="tel:707-545-0444">(707) 545-0444</a></p>
              <p class="travel-hotel-info"><a href="http://hiltongardeninn.hilton.com/en/gi/groups/personalized/S/STSAPGI-DAW-20150917/index.jhtml?WT.mc_id=POG" target="_blank">Room Reservations</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="story" class="story-panel">
  <div class="row">
    <h1 class="story-header pull-right">Our Story</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 story-text-panel">
    <p class="story-text">
      Rob and Maya met shortly after she arrived at Stanford for her freshman year.  As swimmers, they inadvertently spent a lot of time together - the lion's share of which was during big team breakfasts in the dining hall.  Occasionally, to Rob’s delight,  Maya sat down next to him. Here she was wooed by inane conversation from the junior in pajama pants and the weird hat.
      </p>

      <p class="story-text">
      As the luck of the draw would have it, Maya and Rob landed in the same dorm the following year.  Rob, still drastically overestimating his prowess with women, concocted a scheme to spend more time with Maya.  He decided if he began to watch the same (terrible) television <a target="_blank" href="http://www.imdb.com/title/tt1843230">show</a> as Maya, he could parlay conversations about the show into an invitation to spend time together watching it. Maya <i>actually</i> enjoyed the show, and so the two began weekly viewing sessions.
      </p>
      
      <p class="story-text">
       Maya and Rob’s first “real” date was to see Louis Zamperini speak at church.  This turned into something of a routine for them.  Today, both Maya and Rob agree that some of the best time they’ve spent together has happened on Sunday mornings during breakfast at Jason’s and church.
      </p>
      
      <p class="story-text">
        Over the next three years, they grew together in their relationship.  They supported, celebrated, challenged, and loved each other. Two years into the relationship, Marit (Maya’s mom) once introduced Rob as “Maya’s Best Buddy” to a family friend, and though funny at the time it illustrates the couple quite perfectly.
      </p>

    </div>
    <div class="col-sm-4">
      <img class="story-pic" src="https://s3-us-west-1.amazonaws.com/andrews-wedding/maya-and-rob.png">
    </div>
  </div>
</div>

<div id="registry" class="registry-panel">
  <div class="registry-filter">
    <div class="registry-bar row">
      <div class="col-md-6">
        <a href="http://www.surlatable.com/registry/giftRegistryList.jsp?id=2001154424564" target="_blank" >
          <img id="sur-la-table" src="https://s3-us-west-1.amazonaws.com/andrews-wedding/sur-la-table.png">
        </a>
      </div>
      <div class="col-md-6">
        <a href="http://www.potterybarn.com/registry/3646137/registry-list.html" target="_blank" >
          <img id="sur-la-table" src="http://seeklogo.com/font_images/P/pottery_barn-font-1970AA4B24-seeklogo.com.png">
        </a>
      </div>
    </div>
  </div>
</div>

<div id="book" class="book-panel">
  <div class="col-md-10 col-md-offset-1 book-form">

    <div class="form-horizontal" id="msg">
        <fieldset>
          <div class="col-lg-3">
              <div class="form-group">
                  <div class="msg-box">
                    <input name="message[name]" class="form-control" id="msg-name" placeholder="name" data-error="Please provide a name.">
                  </div>
            
                  <div class="msg-box">
                    <input type="email" name="message[email]" class="form-control" id="msg-email" placeholder="email" data-error="Please provide a valid email address.">
                  </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="form-group">
                <div class="msg-box">
                    <textarea name="message[body]" class="form-control" rows="3" id="msg-body" placeholder="message for maya and rob" data-error="Please write a message." required></textarea>
                    <span class="msg-priv">Messages are private and will be emailed to the couple.</span>
                </div>
              </div>
            </div>

            <div class="col-lg-2 book-buttons">
                <div class="book-button">
                  <button type="submit" class="btn btn-primary submit-form msg-btn">Submit</button>
                </div>
                <div class="book-button">
                  <button class="btn btn-default reset-form msg-btn">Reset</button>
                </div>
              </div>
            </div>
        </fieldset>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50948207-2', 'auto');
  ga('send', 'pageview');
</script>
