
<div class="bg-img">
  <div class="intro-block">
    <div class="col-md-10 col-md-offset-1 names-header">
      <div class="names animated fadeinup delayed">Maya & Rob</div>
      <div class="date animated fadeinup delayed">09.19.2015</div>
    </div>
    
    <video autoplay loop poster="https://s3-us-west-1.amazonaws.com/andrews-wedding/vlcsnap-2015-02-23-21h37m58s244.jpg" id="bgvid">
    <source src="https://s3-us-west-1.amazonaws.com/andrews-wedding/italy-trento-vineyard_zk8zyvpeb__D.mp4" type="video/mp4">
    </video>
    <div id="vid-overlay"></div>

  </div>

  <div class="home-nav animated fadeinup delayed-more">
    <div class="row">
      <div class="col-md-2 col-md-offset-1 pointer-div">
        <div class="col-md-6 col-md-offset-3">
          <span class="home-link" id="location-link" data-name="location" href='#location'>LOCATION</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="travel" href='#'>TRAVEL</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="story" href='#'>OUR STORY</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="registry" href='#'>REGISTRY</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="guest" href='#'>GUEST BOOK</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="location-panel" id="location">
  <div id="map-canvas"></div>
  <div class="location-text">
    <div class="ind-location" id="ceremony" data-name="ceremony">
      <div class="location-text-header" data-name="ceremony">
      Ceremony
      </div>
      <div class="location-text-name" data-name="ceremony">
        First Presbyterian Church of Santa Rosa
      </div>
      <div class="location-text-address" data-name="ceremony">
        <a data-name="ceremony" target="_blank" href="https://www.google.com/maps/place/First+Presbyterian+Church/@38.452427,-122.703247,15z/data=!4m2!3m1!1s0x0:0x695244ddd319db2b">1550 Pacific Avenue, Santa Rosa, CA</a>
      </div>  
    </div>

    <div class="ind-location" id="reception" data-name="reception">
      <div class="location-text-header" data-name="reception">
      Reception
      </div>
      <div class="location-text-name" data-name="reception">
        Russian River Estate
      </div>
      <div data-name="reception" class="location-text-address" data-name="reception">
        <a target="_blank" href="https://www.google.com/maps/place/First+Presbyterian+Church/@38.452427,-122.703247,15z/data=!4m2!3m1!1s0x0:0x695244ddd319db2b">Healdsburg, CA</a>
      </div>  
    </div>

  </div>
</div>

<div id="travel" class="travel-panel">
  <div class="ind-travel">
    <div class="travel-header">
      Transportation
    </div>
    <div class="travel-body">
      <p>For guests arriving by air, the best options would be San Francisco Airport (SFO) or Oakland Airport (OAK).  </p>
      <p>
        It is <strong>90 minutes</strong> in the car from <a href="https://www.google.com/maps/dir/San+Francisco+Airport,+San+Francisco,+CA/First+Presbyterian+Church,+Pacific+Avenue,+Santa+Rosa,+CA/@38.0308348,-123.0990614,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808f778c55555555:0xa4f25c571acded3f!2m2!1d-122.378955!2d37.621313!1m5!1m1!1s0x808447ef6db9fe0d:0x695244ddd319db2b!2m2!1d-122.703247!2d38.452427">San Francisco Airport to Santa Rosa</a> or <strong>75 minutes</strong> from <a href="https://www.google.com/maps/dir/Oakland+International+Airport,+Airport+Drive,+Oakland,+CA/First+Presbyterian+Church,+Pacific+Avenue,+Santa+Rosa,+CA/@38.0820413,-122.9786139,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808f845402c0a641:0xb0630c0f03017460!2m2!1d-122.219743!2d37.712569!1m5!1m1!1s0x808447ef6db9fe0d:0x695244ddd319db2b!2m2!1d-122.703247!2d38.452427">Oakland to Santa Rosa</a>.
      </p>
    </div>
  </div>

  <div class="ind-travel">
    <div class="travel-header">
      Lodging
    </div>
  </div>
</div>


<div id="story" class="story-panel">
  
</div>

<div id="registry" class="registry-panel">
  
</div>

<div id="book" class="book-panel">
  
</div>


