<div class="bg-img">
  <div class="intro-block">
    <div class="col-md-10 col-md-offset-1 names-header">
      <div class="names animated fadeinup delayed">MAYA & ROB</div>
      <div class="date animated fadeinup delayed">09.19.2015</div>
    </div>
  </div>

  <div class="home-nav animated fadeinup delayed-more">
    <div class="row">
      <div class="col-md-2 col-md-offset-1 pointer-div">
        <div class="col-md-6 col-md-offset-3">
          <span class="home-link" id="location-link" data-name="location" href='#location'>Location</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="travel" href='#'>Travel</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="story" href='#'>Our Story</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="registry" href='#'>Registry</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="guest" href='#'>Guest Book</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="location-panel" id="location">
  <div id="map-canvas"></div>
  <div class="location-text">
    <div class="ind-location" id="ceremony" data-name="ceremony">
      <div class="location-text-header" data-name="ceremony">
      Ceremony
      </div>
      <div class="location-text-name" data-name="ceremony">
        First Presbyterian Church of Santa Rosa
      </div>
      <div class="location-text-address" data-name="ceremony">
        <a data-name="ceremony" href="https://www.google.com/maps/place/First+Presbyterian+Church/@38.452427,-122.703247,15z/data=!4m2!3m1!1s0x0:0x695244ddd319db2b">1550 Pacific Avenue, Santa Rosa, CA</a>
      </div>  
    </div>

    <div class="ind-location" id="reception" data-name="reception">
      <div class="location-text-header" data-name="reception">
      Reception
      </div>
      <div class="location-text-name" data-name="reception">
        Russian River Estate
      </div>
      <div data-name="ceremony" class="location-text-address" data-name="reception">
        <a href="https://www.google.com/maps/place/First+Presbyterian+Church/@38.452427,-122.703247,15z/data=!4m2!3m1!1s0x0:0x695244ddd319db2b">Healdsburg, CA</a>
      </div>  
    </div>

  </div>
</div>

<div id="travel" class="travel-panel">
  <div class="ind-travel">
    <div class="travel-header">
      Transportation
    </div>
  </div>

  <div class="ind-travel">
    <div class="travel-header">
      Lodging
    </div>
  </div>

</div>
