<div class="bg-img">
  <div class="intro-block">
    <div class="col-md-10 col-md-offset-1 names-header">
      <div class="names animated fadeinup delayed">MAYA & ROB</div>
      <div class="date animated fadeinup delayed">09.19.2015</div>
    </div>
  </div>

  <div class="home-nav animated fadeinup delayed-more">
    <div class="row">
      <div class="col-md-2 col-md-offset-1 pointer-div">
        <div class="col-md-6 col-md-offset-3">
          <span class="home-link" id="location-link" data-name="location" href='#location'>Location</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="travel" href='#'>Travel</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="story" href='#'>Our Story</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-6 col-md-offset-3 pointer-div">
          <span class="home-link" data-name="registry" href='#'>Registry</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8 col-md-offset-2 pointer-div">
          <span class="home-link" data-name="guest" href='#'>Guest Book</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="location-panel" id="location">
  <div class="col-md-10 col-md-offset-1">
    <div id="map-canvas"></div>
  </div>
</div>

<div id="travel" class="travel-panel">
</div>
