<div class="bg-img">
  <div class="intro-block">
    <div class="col-md-10 col-md-offset-1 names-header">
      <div class="names hidden">MAYA & ROB</div>
      <div class="date hidden">09.19.2015</div>
    </div>
  </div>

  <div class="home-nav">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-6 col-md-offset-3">
          <a class="home-link" href='#location'>Location</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-6 col-md-offset-3">
          <a class="home-link" href='#'>ScrollButton</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-6 col-md-offset-3">
          <a class="home-link" href='#'>ScrollButton</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-6 col-md-offset-3">
          <a class="home-link" href='#'>ScrollButton</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="location-panel" id="location">
  <div class="col-md-10 col-md-offset-1">
    <iframe width="900" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=first%20presbyterian%20santa%20rosa&key=AIzaSyDPVMWnTZ1D87_5J1aWH_5Rn7p6iwEsqI8"></iframe>
  </div>
</div>
<div class="wedding-party">
</div>
