/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  display:table;
  background: url('https://s3-us-west-1.amazonaws.com/andrews-wedding/vineyard_grad-50.png') center center no-repeat;
  background-size: cover;

}

.names-header{
  color: white;
  display:table-cell;
  font-family:Montserrat;
  vertical-align: middle;
  text-align:center;

}

div.names{
  font-size:4em;
}
div.date{
  font-size:2em;
}
div.button{
  background-color:white;
}
