<!DOCTYPE html>
<html>
  <head>
    <title>Maya & Rob</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Parisienne|Great+Vibes' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/andrews-wedding/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://s3-us-west-1.amazonaws.com/andrews-wedding/favicon-16x16.png" sizes="16x16" />
  </head>
  <body>

    <%= yield %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPVMWnTZ1D87_5J1aWH_5Rn7p6iwEsqI8"></script>
    <%= javascript_include_tag "application" %>
    </body>
  </html>